.background-container {
	background-image: url('../img/Fondo1.jpg');
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
	background-position: center; /* Centra la imagen */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover;
}

.boton {
	background-color: #FFB6C1;
	border-color: #FFB6C1;
	color: #FFFFFF;
	font-size: larger;
	margin-inline: 50px;
}

@media (min-width:320px) and (max-width:770px) {
	.background-container {
		background-image: url('../img/Fondo2.jpg');
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		margin: 0;
		padding: 0;
		background-position: center; /* Centra la imagen */
		background-repeat: no-repeat; /* Evita que la imagen se repita */
		background-size: cover;
	}
}